.Modal {
    background-color: rgba(219, 219, 219, 0.774);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  