.Modal {
    background-color: rgba(221, 224, 230, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 17, 17);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }